* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

// nav start------------------------------------------navstarst
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style-type: none;
    }

    .menu {
        display: flex;
        gap: 40px;
        align-items: center;
        font-size: 18px;
    }

    a {
        text-decoration: none;
    }

    img {
        padding: 12px;
    }

    .burger {
        display: none;

        &:hover ul {
            transform: translateX(0);
        }

        .bi-list {
            font-size: 40px;
        }

        ul {
            position: absolute;
            // transform: translateY(20px);
            transform: translateX(-100%);
            background-color: rgb(169, 166, 166);
            width: 100%;
            left: 0;
            text-align: left;
            opacity: 0.7;
            transition: 0.5s;
        }

        a {
            color: black;
            padding: 0 0 0 15px;
        }


    }

}

// nav____media  // nav____media// nav____media// nav____media// nav____media// nav____media// nav____media

@media (max-width:1024px) {

    .nav_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .menu {
            display: none;
        }

        .burger {
            display: block;
        }

    }
}

// 




// nav finish----------------------------------------------------// nav finish

section {
    background-image: url("../imeges/girl-student-standing-with-colorful-folders-min.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -200px;
    height: 900px;
    background-size: cover;
    line-height: 2;
    font-size: 17px;

    .container_card {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 15px;
        padding-top: 60px;
        text-align: center;
        text-align: left;

        .card1 {

            grid-row: 1/3;
            background-color: white;

            padding: 40px;

            img {
                width: 15%;
            }

            .button {
                display: inline-block;
                padding: 5px 20px;
                border: 2px solid rgb(156, 156, 156);
                transform: translateY(90px);
                text-decoration: none;
                transition: 0.5s;

                &:hover {
                    border: 2px solid rgb(71, 71, 71);

                }


            }


        }

        .card {
            background-color: white;
            padding: 40px;

        }

    }

}



// @media (max-width:768px) // @media (max-width:768px) // @media (max-width:768px) // @media (max-width:768px) // @media (max-width:768px) // @media (max-width:768px) 

@media (max-width:768px) {

    section {

        line-height: 1;
        font-size: 20px;


        .container_card {

            grid-template-columns: 3fr 1fr;



            .card1 {

                grid-row: 1/5;
                font-size: 40px;
                padding: 50px;
                box-shadow: 5px 20px 10px 4px rgba(0, 0, 0, 0.548);

                img {
                    width: 20%;
                }

                

            }

            .card {
                background-color: white;
                padding: 30px;
                box-shadow: 5px 20px 10px 4px rgba(0, 0, 0, 0.548);

            }

        }

    }


}

// 425----------------------425425425425-----------425-----------425---------------------------425
@media (max-width:425px) {

    section {

        .container_card {
            display: grid;
            grid-template-columns: 1fr;

            .card1 {
                background-color: rgba(255, 255, 255, 0.795);
                font-size: 15px;
                padding: 12px;
                box-shadow: 5px 20px 10px 4px rgba(0, 0, 0, 0.548);

                img {
                    width: 20%;

                }

                .card {
                    background-color: rgba(255, 255, 255, 0.747);
                    padding: 30px;
                    box-shadow: 5px 20px 10px 4px rgba(0, 0, 0, 0.548);
                    font-size: 15px;

                }

            }

        }

    }

}

// ------------------------------------------------------------------------------------------Card------------------

footer {
    display: block;
    background-color: rgb(51, 51, 51);
    text-align: center;

    .footer1 {
        // padding: 60px 0;
        color: white;

    }

    a {
        color: white;
    }

    p {
        color: white;
    }

    .footer2 {
        padding: 30px;
    }


}